<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ReferidosEntitiesModel" connectionString="metadata=res://*/Repositorio.ModReferidosEntities.csdl|res://*/Repositorio.ModReferidosEntities.ssdl|res://*/Repositorio.ModReferidosEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=alejo;initial catalog=Referidos;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>