<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ReferidsEntities" connectionString="metadata=res://*/Repositorio.ModeloReferido.csdl|res://*/Repositorio.ModeloReferido.ssdl|res://*/Repositorio.ModeloReferido.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=alejo;initial catalog=Referidos;integrated security=True;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>